HTTPS_REFLECTOR_PUBLIC_STATIC_DIR="/var/www/some-https-reflector-server.org"
HTTPS_DIRECTOR_SUBDOMAIN="*.direct.yourdomain.org"
HTTPS_DIRECTOR_EMAIL="your_email_address_to_give_to_lets_encrypt"
HTTPS_DIRECTOR_SERVER_URL="http://yourdomain.org"

